# Dependencies
/node_modules

# Build output
/dist
/build

# Vite
.vite/
*.vite

# Environment variables
.env
.env.*
!.env.example

# IDE / System files
.DS_Store
Thumbs.db
*.suo
*.user
*.sln
*.idea
*.vscode